h1 {
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    color: rgb(48, 24, 7);
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 55px;
    color: rgb(48, 24, 7);
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: rgb(48, 24, 7);
}

.jumbotron {
    background-image: url("../images/jumbobackground.jpg");
    color: rgb(48, 24, 7);
}

#start {
    background-color: rgb(148, 90, 48);
    color: cornsilk;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    padding: 15px;
    border: 2px dotted rgb(48, 24, 7);

}

body {
    background-color: rgb(158, 129, 108);
}

.answer-button {
    background-color: rgb(148, 90, 48);
    color: cornsilk;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    padding: 15px;
    margin: 0 20px 0 0;
    border: 2px dotted rgb(48, 24, 7);
    border-radius: 15px;
}

#reset {
    background-color: rgb(148, 90, 48);
    color: cornsilk;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    padding: 15px;
    margin: 20px 0 0 0;
    border: 2px dotted rgb(48, 24, 7);
    border-radius: 15px;
}

.img-thumbnail {
    max-width: 400px;
    height: auto;
    
}